#NCHelpText,
#NCVocabulary,
#NCTips {
  padding: 10px 20px;
}

#NCTips details > summary {
  list-style-type: '▶️ ';
}

#NCTips details[open] > summary {
  list-style-type: '🔽 ';
}

#NCTips details {
  border-bottom: 1px solid gray;
  border-radius: 0.2rem;
  padding: 0.5rem;
}

#NCTips details[open] > summary {
  margin-bottom: 0.5rem;
}

/* Style only the summary — no indent */
#NCTips summary {
  cursor: pointer;
  font-weight: bold;
  font-size-adjust: +0.75;
}

#NCTips details p,
#NCTips details ul {
  padding-left: 1rem;
}

#NCTips details ul {
  padding-left: 2rem;
}

/* tabpanel --------------------------------------------------------------- */
#NCTabPanel {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#NCTabPanel .tabs button {
  font-weight: var(--font-weight-normal);
  padding: 8px 26px 2px 26px;
  opacity: 50%;
  color: var(--clr-system);
  background-color: transparent;
  border: none;
  border-radius: 0;
}
#NCTabPanel.NCAdvancedPanel .tabs button {
  padding: 8px 8px 2px 8px;
}
#NCTabPanel .tabs button:hover {
  opacity: 100%;
}
#NCTabPanel .tabs button.selected {
  font-weight: var(--font-weight-bold);
  opacity: 100%;
  border-bottom: 4px solid var(--clr-cat-bg);
}

#NCTabPanel .tabpanels {
  background-color: #fff6;
  overflow-y: auto;
}

#NCTabPanel h1 {
  font-weight: var(--font-weight-bold);
  margin-block-start: 1rem;
}

#NCTabPanel h1:first-child {
  margin-block-start: 0;
}

#NCTabPanel h2 {
  font-size: var(--font-size-reduced);
  font-weight: var(--font-weight-bold);
  margin-block-start: 1rem;
}

#NCTabPanel ul {
  margin: 0;
  padding: 0 0 0.1rem 0.1rem;
}
#NCTabPanel li {
  margin: 0;
  padding: 0;
}
#NCTabPanel dt {
  font-weight: var(--font-weight-bold);
}
#NCTabPanel dd {
  margin: 0 0 10px 0;
  padding: 0;
}
