.ncsearch {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
  margin-top: 1em;
  margin-bottom: 20px;
}
.ncsearch button:not(:disabled) {
  color: var(--clr-cat-fg);
  background-color: var(--clr-cat-bg);
  border-radius: 5px;
  border: none;
  height: 1.5rem;
  align-self: flex-end;
  text-wrap-mode: nowrap;
}
.ncsearch input {
  height: 1.5rem;
  padding: 0 5px;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

/* override help */
.ncsearch .helptop {
  font-size: 11px; /* fit help text */
  font-style: italic;
  position: unset;
  padding: 0;
  background-color: transparent;
}
